<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <nav>
    <a href="/">
    <img id="logo" src="https://imgur.com/ciw8Uhw.png" alt="logo">
    </a>
    |
    <a id="about" href="/portfolio/about">About Me</a>
    |
    <a id="projects" href="/portfolio/projects">My Work</a>
    |
    <a id="contact" href="/portfolio/contact">Contact Me</a>
  </nav>
  <body>