<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <nav>
    <img id="logo" src="https://imgur.com/ciw8Uhw.png" alt="logo">
  </nav>
  <body>