<%- include('../partials/header') %>

    <h1><%= title %></h1>
    <p>Hello and Welcome to my portfolio page.  
        I have been interested in programming and development since
        I took my first computer apart at age 5.  I had family members that introduced me to
        software at the time, but I also went to computer camp (nerd herd cheers!)  I created this site to show off some of those skills
        and hopefully remind you of how it felt to code as a kid when it wasn't the thing to do!
    </p>

<%- include('../partials/footer')%>